

.news{
    width: 100%;
}
.news-content{
    width: 1200px;
    margin: 0 auto;
}
.news-title{
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.news-title-ch{
    background-image: url(../img/company.png);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 28px;
    font-weight: bold;

}
.news-title-en{
    color: #f7b52b;
    font-size: 16px;
    line-height: 40px;
}

.news-content-item{
    text-align: center;
    margin-bottom: 80px;
}
.news-content-item h1{
    font-size: 20px;
    font-weight: bold;
    
    margin-bottom: 25px;
}

.news-content-item p{
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 40px;
    text-indent: 20px;
}

.news-content-item-avator{
   
   text-align: center;
 
}

.news-content-item-avator img{
    width: 768px;
    box-shadow: 10px 10px 0px #e5e5e5;
}